/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.cover-photo {
  /*position: relative;*/
  width: 100%;
  height: 30vh; /* Adjust the height to your preference */
  background-image: url('images/Streams_of_Thought_Anahit_Mkhitaryan.JPG'); /* Path to your cover photo */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* Styling for the text over the cover photo */
.cover-photo h1, .cover-photo p {
  margin: 0;
  z-index: 1; /* Ensures text appears on top of the cover photo */
}

/* Optional: Add shadow or background color for better readability */
.cover-photo h1 {
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Makes the text stand out */
}

.cover-photo p {
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.profile_picture {
  float: left;
  margin-right: 1vw;
  width: 10vw;
  height: 10vh;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 50px 0;
}

header h1 {
  font-size: 2.5em;
}

header p {
  font-size: 1.2em;
  margin-top: 10px;
}

.projects {
  margin: 40px 0;
  text-align: center;
}

.project-card {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
  font-size: 1.5em;
}

.project-card p {
  color: #555;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

footer p {
  font-size: 1em;
}